@model Simple_CMS.ViewModels.Roles.CreateRoleViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<table class="content">
    <tr>
        <td class="content">
            <form asp-controller="Role" asp-action="CreateRole" method="post">
                <div class="form-group">
                    <label asp-for="RoleName"></label><br />
                    <input type="text" asp-for="RoleName" />
                    <span asp-validation-for="RoleName"></span>
                </div>
                <div>
                    <input type="submit" value="Создать" />
                </div>
            </form>
        </td>
    </tr>
</table>

@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}