@using Simple_CMS.Models.Service
@model Simple_CMS.ViewModels.Roles.ChangeRoleViewModel

<table class="content">
    <tr>
        <td class="content">
            @if (Model.UserName != IdentityConfig.AdminName)
            {
                <form asp-controller="Role" asp-action="EditRole" method="post">
                    <input type="hidden" name="userId" value="@Model.UserId" />
                    <div>
                        @foreach (var role in Model.AllRoles)
                        {
                            <input type="checkbox" name="roles" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                        }
                    </div>
                    <br />
                    <input type="submit" value="Сохранить" />
                </form>
            }
        </td>
    </tr>
</table>