@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<table class="content">
    <tr>
        <td class="content">
            @foreach (var role in Model)
            {
                <form asp-action="DeleteRole" asp-controller="Role" asp-route-roleId="@role.Id" method="post">
                    <span>@role.Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    @if (role.Name != "admin")
                    {
                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                    }
                </form>
                <br />
            }
        </td>
    </tr>
</table>
<a class="blue" asp-action="CreateRole">Добавить роль</a>
&nbsp;&nbsp;&nbsp;
<a class="blue" asp-action="UserList">Список пользователей</a>

