@using Simple_CMS.Models.Service

<table class="content">
    <tr>
        <td class="content">
            @foreach (var user in Model)
            {
                @user.UserName
                <span>&nbsp;</span>
                @if (user.UserName != IdentityConfig.AdminName)
                {
                    <a class="blue" asp-controller="Role" asp-action="EditRole" asp-route-userid="@user.Id">Права доступа</a>
                }
                <br /><br />
            }
        </td>
    </tr>
</table>