@model Simple_CMS.ViewModels.Gallery.AddGalleryViewModel

<form asp-controller="Gallery" asp-action="AddGallery" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="GalleryTitle"></label><br />
        <input type="text" asp-for="GalleryTitle" width="300" />
        @Html.ValidationMessageFor(t => t.GalleryTitle)<br />
    </div>
    <div>
        <label asp-for="GalleryDescription"></label><br />
        <textarea asp-for="GalleryDescription" rows="30" cols="100"></textarea>
        @Html.ValidationMessageFor(d => d.GalleryDescription)<br />
    </div>
    <div>
        <label asp-for="GalleryPreviewImage"></label><br />
        <input type="file" name="previewImage" accept=".jpg,.jpeg,.gif,.png" />
        <font color="red">@Html.ValidationMessageFor(i => i.GalleryPreviewImage)</font>
    </div>
    <div>
        <input type="submit" value="Опубликовать" />
    </div>
</form>

@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}