<!DOCTYPE html>

<html>
<head>

    <link type="text/css" rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--Metatags-->
    @await Html.PartialAsync("MetatagsPartial")

</head>
<body>

    <!--Header-->
    @await Html.PartialAsync("HeaderPartial")

    <div align="center">
        <table class="renderbody">
            <tr>
                <td class="renderbody" valign="top">
                    <p class="pagetitle">@ViewBag.Title</p>
                    @RenderBody()
                </td>
            </tr>
        </table>
    </div>
    <br /><br />
    <!--Bottom-->
    @await Html.PartialAsync("BottomPartial")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>