@model Dictionary<Guid, string>

@*@Html.ActionLink("Создать страницу", "AddPage", "Page")*@
<a class="blue" asp-action="AddPage" asp-controller="Page">Создать страницу</a>

<br />
<br />
<br />

<table class="content">
    <tr>
        <td class="content">
            @foreach (var item in Model)
            {
                @*@Html.ActionLink(item.Value, "ViewPage", "Page", new { pageId = item.Key })*@
                <a class="blue" asp-action="ViewPage" asp-controller="Page" asp-route-pageId="@item.Key">@item.Value</a>
                <br />
                <form asp-action="DeletePage" asp-controller="Page" method="post">
                    <input type="hidden" name="pageId" value="@item.Key" />
                    <input type="checkbox" name="isChecked" value="true" />
                    <span>Подтвердить удаление</span>
                    <input type="submit" value="Удалить" />
                </form>
                <br />
                <br />
            }
        </td>
    </tr>
</table>