@model Simple_CMS.ViewModels.Page.ViewPageViewModel

@if (User.IsInRole("admin"))
{
    @*@Html.ActionLink("Редактировать", "EditPage", "Page", new { pageId = ViewBag.PageId })*@
    <a class="blue" asp-action="EditPage" asp-controller="Page" asp-route-pageId="@ViewBag.PageId">Редактировать</a><br /><br />
}

<table class="content">
    <tr>
        <td class="content">
            <span class="newsbody">@Html.Raw(Model.PageBody)</span>
        </td>
    </tr>
</table>