@model Simple_CMS.ViewModels.Page.ViewPageViewModel

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Редактировать", "EditPage", "Page", new { pageId = ViewBag.PageId })
}

<h3>@Model.PageTitle</h3>
<p>@Html.Raw(Model.PageBody)</p>